.checkbox {
    position: relative;
    margin-top: 16px;
    margin-bottom: 30px;
  }
  
  .checkbox__label {
    color: var(--primary-text-color);
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    padding-left: 36px;
    cursor: pointer;
  }
  
  .checkbox__input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    }
  
  .checkbox__icon {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: 16px;
    height: 15px;
    padding: 2px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    fill: none;
    
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
     .checkbox__input:checked ~ & {
        background-color: var(--accent-color);
        border: none;
        fill: var(--primary-background-color);
        }
      }
  
   .checkbox__conditions {
    color: var(--accent-color);
    margin-left: 5px;
  }