.features {
        
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin-right: 0;
       }

       @media screen and (min-width: 1200px) {
                flex-wrap:nowrap;
             }
  
  &__cards {
    background-color: var(--section-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
        margin-bottom: 30px;
        height: 120px;
             }
  
  &__item {
    width: 100%;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
            width: calc((100% - 4 * 15px) / 2);
         }
    
    @media screen and (min-width: 1200) {
    margin-top: 0;
    margin-bottom: 0;
    flex-wrap:nowrap;
     
  }
}
  
  &__title {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      text-align: left;
      }
  }
}