.form {
      justify-content: flex-end;
    margin-left: 23px;
      }
  
  .form__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 0;
    margin-top: 20px;
    align-items: baseline;
    gap: 20px;
  
    @media screen and (min-width: 1200px) {
       justify-content: flex-end;
      flex-wrap:nowrap;
      gap: 12px;
          }
  }
  
  .form__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--net-color);
    background-color: var(--secondary-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  .form__input:placeholder-shown {
    color: rgba(255, 255, 255, 0.6);
  
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
  }
  