.header {
    background-color: var(--primary-background-color);
    border-bottom: 1px solid var(--border-bottom);
  
  
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
       margin: auto;

    @media (min-width: 480px) {
      width: 480px;
      } 

  @media (min-width: 768px) {
    width: 768px;
}

@media (min-width: 1200px) {
  width: 1200px;
  }
}

  &__logo {
    margin-right: 0;

    @media (min-width: 768px) {
      margin-right: 88px;
      }

    @media (min-width: 1200px) {
      margin-right: 93px;
      }
   
  }
  
  &__studio {
    color: var(--secondary-text-color);
  }
 }


