.hero {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-color: var(--secondary-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
  
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .hero__title {
    color: var(--primary-background-color);
  
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
  
    text-transform: uppercase;
  
    padding: 0;
    margin: 0 auto 30px auto;
    width: 360px;

    @media (min-width: 768px) {
      font-size: 44px;
    line-height: 1.36;
        width: 700px;
  }
  }