.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .modal-form__label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14.06 / 12);
    color: var(--primary-text-color);
    margin-bottom: 4px;
    justify-content: center;
  }
    
  .modal-form__control {
    position: relative;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }

     .modal-form__input {
    display: block;
    width: 100%;
    padding: 14px 14px 14px 32px;
    border: 1px solid var(--border-color-form);
    border-radius: 4px;
    outline: none;
    margin-bottom: 10px;
  }
  
  .modal-form__input:focus  { 
    border-color: var(--accent-color);
      }

    .modal-form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--title-text-color);
    }

    .modal-form__control:focus-within .modal-form__icon {
      fill: var(--accent-color);
    }
  
  .modal-form__comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid var(--border-color-form);
    border-radius: 4px;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14.06 / 12);
    color: var(--primary-text-color);
    margin-bottom: 0;
    resize: none;
    
  &:focus {
    border-color: var(--accent-color);
  }
}

  .modal-form__button {
    display: block;
    padding: 10px 52px;
    width: 200px;
    height: 50px;
    margin: 0 auto;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
    letter-spacing: 0.06em;
    
  &:hover {
    background-color: var(--button-background-color);
  }
}