.project {
    width: 370px;
    padding: 20px 24px;
    border: 1px solid var(--border-color);
    border-top: none;
  }
  
  .project__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
  }
  
  .project__text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.89;
  }