:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --secondary-text-color: #000000;
    --accent-color: #2196f3;
    --primary-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --section-background-color: #f5f4fa;
    --button-background-color: #188ce8;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --border-bottom: #ececec;
    --border-color: #eeeeee;
    --section-bc-cl: #f5f5f5;
    --net-background-color: rgba(255, 255, 255, 0.1);
    --inner-border: #afb1b8;
    --net-color: #afb1b8;
    --background-color-overlay: rgba(33, 150, 243, 0.9);
    --background-color-works: rgba(47, 48, 58, 0.8);
    --background-color-modal: rgba(0, 0, 0, 0.2);
    --border-color-form: rgba(33, 33, 33, 0.2);
  }
  
  body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
  
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.7;
  }
    
  .section {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: 1200) {
      padding-top: 94px;
    padding-bottom: 94px;
    }
  }
  
  h1,
  h2,
  h3,
  p,
  ul {
    margin: 0px;
    padding: 0px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  

  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  /*title h2*/
  .title {
    color: var(--title-text-color);
  
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 30px;

    @media (min-width: 1200) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }

  
    
